<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    
   



    
    <h:form id="consola">
        <p:focus id="cursor" for="consolInput"/>


        <h:panelGrid cellpadding="5" style="margin: 0 auto;">
            <p:inputTextarea id="consolOutput" value="#{consola.salida}" cols="100" rows="15" autoResize="false" readonly="true" style="margin-top:10px"/>
                
           
            <h:panelGrid columns="3">
                <p:inputText id="consolInput"  size="50" value="#{consola.comando}" />

                <p:commandButton id="btnEjecutar" value="Ejecutar" process="@form" update="consola, :historial" actionListener="#{consola.ejecutarComando}"/>
                                 
                <p:commandButton id="clearButton" value="Limpiar Pantalla" actionListener="#{consola.limpiarPantalla}" update="consola" icon="ui-icon-close" />
            </h:panelGrid>
        </h:panelGrid>


    </h:form>   



</html>
