<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
     
    <h:form id="historial">
        <p:selectManyMenu id="historialCmd"  value="#{consola.comandosSeleccionados}" style="margin: 0 auto; width: 150px; height:250px;" >  
            <f:selectItems value="#{consola.historial}"  />
        </p:selectManyMenu>
        <p:separator /> 
        <p:commandButton id="ejecutarCmdHistorial" value="Ejecuta Seleccionados"  actionListener="#{consola.ejecutaSeleccionados}" update=":consola, historialCmd" icon="ui-icon-close" />
        <p:separator />
        <p:commandButton id="limpiaHistorialCmd" value="Limpiar Historial"  actionListener="#{consola.limpiarHistorial}" update="historialCmd" icon="ui-icon-close" />
         
       <p:separator />
    </h:form>
</html>
