<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
           
   
    <p:tieredMenu style="margin: 0 auto;">
       
        <p:submenu  label="Datos">
            <p:menuitem value="Listar objetos"  onclick="listarObjetosDlg.show()"/>
            <p:menuitem value="Nuevo Vector" onclick="creaCjtoDlg.show();"/> 
            <p:menuitem value="Nueva Matriz" onclick="crearMatDlg.show();"/>
            <p:menuitem value="Crear Secuencia Aleat" onclick="SeqAleatoriaDlg.show();"/>
            <p:menuitem value="Ordenar objeto" actionListener="#{ordenarDatosBean.prepareOrdenar()}" update="dlgOrdenarDatos" oncomplete="ordenarDatosDlg.show();"/> 
            <p:menuitem value="Borrar objetos" actionListener="#{borrarDatosBean.prepareBorrar()}" update="dlgBorrarDatos" oncomplete="borrarDatosDlg.show();"/>
            <p:menuitem value="Extraer valor" update="dlgExtraerDatos" oncomplete="extraerDatosDlg.show();"/>
            
            <p:menuitem value="Longitud objeto" actionListener="#{longitudObjetosBean.prepareLongitud()}" update="dlgLongitudObjetos" oncomplete="longitudObjetosDlg.show();"/> 
        </p:submenu>
       
        <p:submenu label="Álgebra">
              <p:submenu label="Conjuntos" icon="ui-icon-extlink">
                
                  <p:menuitem value="Unión" actionListener="#{unionBean.prepareUnion()}" update="dlgUnion" oncomplete="UnionDlg.show();" />
                  <p:menuitem value="Intersección" actionListener="#{interseccionBean.prepareInterseccion()}" update="dlgInterseccion" oncomplete="InterseccionDlg.show();" />
                  <p:menuitem value="Diferencía Simétrica" actionListener="#{diferenciaSimetricaBean.prepareDiferenciaSimetrica()}" update="dlgDiferenciaSimetrica" oncomplete="DiferenciaSimetricaDlg.show();" />
                   
            </p:submenu>
              <p:submenu label="Matríces" icon="ui-icon-extlink">
                
                  <p:menuitem value="Producto" update="dlgProductoMat" oncomplete="productoMatDlg.show();" icon="ui-icon-home" />
                    <p:menuitem value="Traspuesta" update="dlgTraspuestaMat" actionListener="#{traspuestaBean.prepareTraspuesta()}" oncomplete="TraspuestaMatDlg.show();" />
                    <p:menuitem value="Inversa" update="dlgInversaMat" actionListener="#{inversaBean.prepareInversa()}" oncomplete="InversaMatDlg.show();"/>
                   
                    <p:menuitem value="Solucion S. Eqs" update="dlgSolucionSEMat" actionListener="#{solucionSEBean.prepareSolucionSE()}" oncomplete="solucionSEMatDlg.show();" icon="ui-icon-wrench" /> 
                    
                    <p:menuitem value="Descomposición V. Singulares" update="dlgDescomposicionVSMat" actionListener="#{descomposicionSingularesBean.prepareDescomposicionSingulares()}" oncomplete="DescomposicionVSMatDlg.show();" />
                    <p:menuitem value="Descomposición QR" update="dlgDescomposicionQRMat" actionListener="#{descomposicionQRBean.prepareDescomposicionQR()}" oncomplete="descomposicionQRMatDlg.show();"/>
                    <p:menuitem value="V. y V. propios" update="dlgVVPropiosMat" actionListener="#{vyVPropiosBean.prepareTraspuesta()}" oncomplete="VVPropiosMatDlg.show();" />
                    
                    <p:menuitem value="Producto exterior" update="dlgProductoExtMat" actionListener="#{productoExteriorMatricesBean.prepareProductoExterior()}" oncomplete="productoExtMatDlg.show();" icon="ui-icon-arrowthick-1-s" />
                    <p:menuitem value="Mat. diagonal" update="dlgDiagonalMMat" actionListener="#{diagonalBean.prepareDiagonal()}" oncomplete="DiagonalMMatDlg.show();" />
                   
            </p:submenu>
              
          </p:submenu>
        <p:submenu label="Descriptiva">
            <p:submenu label="Medidas de Posición">
               <p:menuitem value="Media" actionListener="#{mediaBean.prepareMedia}" update="dlgMedia" oncomplete="MediaDlg.show();"/> 
                <p:menuitem value="Mediana" actionListener="#{medianaBean.prepareMediana}" update="dlgMediana" oncomplete="MedianaDlg.show();"/>
                <p:menuitem value="Moda" update="dlgModa" actionListener="#{modaBean.prepareModa}" oncomplete="ModaDlg.show();"/>
                <p:menuitem value="Máximo" actionListener="#{maximoBean.prepareMaximo}" update="dlgMaximo" oncomplete="MaximoDlg.show();"/>
                <p:menuitem value="Mínimo" actionListener="#{minimoBean.prepareMinimo}" update="dlgMinimo" oncomplete="MinimoDlg.show();"/>
            
            </p:submenu>
            <p:submenu label="Medidas de Disperción">
               
                <p:menuitem value="Varianza" actionListener="#{varianzaBean.prepareVarianza}" update="dlgVarianza" oncomplete="VarianzaDlg.show();"/>
                <p:menuitem value="Desviación estandar" actionListener="#{desviacionEstandarBean.prepareDesviacionEstandar()}" update="dlgDesviacionEstandarPoblacional" oncomplete="DesviacionEstandarPoblacionalDlg.show();"/>
                <p:menuitem value="Cuasivarianza" actionListener="#{cuasiVarianzaBean.prepareCuasiVarianza()}" update="dlgCuasiVarianza" oncomplete="CuasiVarianzaDlg.show();"/>
                <p:menuitem value="Rangos" actionListener="#{rangosBean.prepareRangos()}" update="dlgRangos" oncomplete="RangosDlg.show();"/>
                <p:menuitem value="Coeficiente de variación" actionListener="#{coefVariacionBean.prepareCoefVariacion()}" update="dlgCoeficienteVariacion" oncomplete="CoeficienteVariacionDlg.show();"/>
                
            </p:submenu>
            <p:submenu label="Funciones Matemáticas">
               
                <p:menuitem value="Suma" actionListener="#{sumaBean.prepareSuma()}" update="dlgSuma" oncomplete="SumaDlg.show();"/>
                <p:menuitem value="Producto" actionListener="#{productoBean.prepareProducto()}" update="dlgProducto" oncomplete="ProductoDlg.show();"/>
                <p:menuitem value="Suma de cuadrados" actionListener="#{sumaCuadradosBean.prepareSumaCuadrados()}" update="dlgSumaCuadrados" oncomplete="SumaCuadradosDlg.show();"/>
                
            </p:submenu>
            <p:menuitem value="Medidas de Posición" onclick="mPosicionDlg.show();" icon="ui-icon-close"/>
            <p:menuitem value="Medidas de Disperción" onclick="mDispersionDlg.show();" icon="ui-icon-close"/>
        </p:submenu>
        <p:submenu label="Rergresion">
              <p:menuitem value="Plots" onclick="plotsDlg.show();" icon="ui-icon-close"/> 
          </p:submenu>
        <p:submenu label="Gráficas" icon="ui-icon-circle-arrow-e
 ">
            <p:menuitem value="Unidimensionales" update="dlgUnidimensionalesPlots" oncomplete="plotsUnidimensionalesDlg.show();" icon="ui-icon-circle-triangle-e"/>
              <p:menuitem value="Bidimensionales" update="dlgBidimensionalesPlots" oncomplete="plotsBidimensionalesDlg.show();" icon="ui-icon-circle-triangle-e"/>
              <p:menuitem value="Tridimensionales" update="dlgTridimensionalesPlots" oncomplete="plotsTridimensionalesDlg.show();" icon="ui-icon-circle-triangle-e"/>
              
        </p:submenu>
        <p:submenu label="Inferencia">
              <p:menuitem value="Plots" onclick="plotsDlg.show();" icon="ui-icon-close"/> 
          </p:submenu>
     
        
    </p:tieredMenu>


    
    <ui:include src="/Vistas/dialogos/Datos/conjunto.xhtml"/>						
    <ui:include src="/Vistas/dialogos/Datos/crearVariable.xhtml"/>
    <ui:include src="/Vistas/Datos/datosView.xhtml"/>
    <ui:include src="/Vistas/dialogos/plantillaDLG/DlgPlantilla.xhtml"/>
    <ui:include src="/Vistas/dialogos/Graficos/dlgPlots.xhtml"/>
    
    <ui:include src="/Vistas/Descriptiva/descriptivaView.xhtml"/>
    <!--
        Conjuntos y Matrices
    -->
   
    <ui:include src="/Vistas/algebra/algebraView.xhtml"/>
    
</html>
