<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    
     <!-- Dialogo Cargar RData (Trabajo)-->

    <p:dialog id="dlgCargarRData" header="Datos: Cargar trabajo" widgetVar="cargarRDataDlg" modal="true" resizable="false">

        <h:form enctype="multipart/form-data">  
            <p:messages showDetail="true"/> 
            <label id="fileuploadtxt" style="color: red">Seleccione Archivo .RData</label><br/>
            <p:fileUpload  value="#{menuBean.file}"  allowTypes="*.RData"
                               multiple="false" mode="simple" invalidFileMessage="You are allowed to upload only JPEG, PNG and PDF !"/>
            <br />
            <h:panelGrid columns="2" cellpadding="5"> 
                 <p:commandButton value="Aceptar" actionListener="#{menuBean.ejecutarMenu('rData')}" ajax="false" update=":izquierda, :consola, :derecha"  oncomplete="abrirScriptDlg.hide();" 
                          />
                <p:commandButton value="Cancelar" onclick="cargarRDataDlg.hide();" />
            </h:panelGrid> 
       </h:form>    
        
    </p:dialog>   
    
    <p:dialog id="dlgAbrirScript" header="Abrir script" widgetVar="abrirScriptDlg" modal="true" resizable="false">

          <h:form enctype="multipart/form-data">  
            <p:messages showDetail="true"/> 
            <p:fileUpload  value="#{menuBean.file}"  allowTypes="*.R"
                               multiple="false" mode="simple" invalidFileMessage="You are allowed to upload only JPEG, PNG and PDF !"/>

             <br />
             <h:panelGrid columns="2" cellpadding="5"> 
                <p:commandButton value="Aceptar" actionListener="#{menuBean.ejecutarMenu('script')}" ajax="false" update=":izquierda, :consola, :derecha"  oncomplete="abrirScriptDlg.hide();" 
                          />
                <p:commandButton value="Cancelar" onclick="abrirScriptDlg.hide();" />
        </h:panelGrid> 
    </h:form>    
    </p:dialog>   
    
</html>

