<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <!--
        Medidas de Posicion
    -->
    <p:dialog id="dlgMedidasPosicion" header="Medidas de posición" widgetVar="mPosicionDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        
        <h:panelGrid  cellpadding="5">
            <h:outputText value="Variable" />
            <p:selectOneListbox  value="#{mPosicionBean.variableSeleccionada}" style="height:220px;margin: 10px;padding: 10px"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneListbox>
        </h:panelGrid>
        <p:separator style="margin-bottom:10px"/>

    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        
        
        <p:selectManyCheckbox value="#{mPosicionBean.operacionesSeleccionadas}" layout="grid" columns="3">
            <f:selectItems value="#{mPosicionBean.operaciones}"/>
        </p:selectManyCheckbox>

    </h:panelGrid>

    <p:separator />
<h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{mPosicionBean.ejecutar}" update="dlgMedidasPosicion,:consola, :derecha"  oncomplete="mPosicionDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" actionListener="#{mPosicionBean.establecerDialogo}" update="dlgMedidasPosicion" oncomplete="mPosicionDlg.hide();" />
            </h:panelGrid> 
   

   
</p:dialog>   
    
    <!--
        Medidas de Posicion: Media
    -->
     <p:dialog id="dlgMedia" header="Medidas de Posicion: Media" widgetVar="MediaDlg" modal="true" resizable="false">
    
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{mediaBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{mediaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        <p:outputLabel value="Variable de frecuencias:" />
        <p:selectOneMenu value="#{mediaBean.frecuenciaSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{mediaBean.ejecutaMedia}" update=":consola, :derecha"  oncomplete="MediaDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="MediaDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>   
    
    <!--
        Medidas de Posicion: Mediana
    -->
     <p:dialog id="dlgMediana" header="Medidas de Posicion: Mediana" widgetVar="MedianaDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{medianaBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{medianaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        <p:outputLabel value="Variable de frecuencias:" />
        <p:selectOneMenu value="#{medianaBean.frecuenciaSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{medianaBean.ejecutaMediana}" update=":consola, :derecha"  oncomplete="MedianaDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="MedianaDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog> 
    
    <!--
        Medidas de Posicion: Moda
    -->
    <p:dialog id="dlgModa" position="center" header="Medidas de Posicion: Moda" widgetVar="ModaDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    
    <p:messages id="messages" showDetail="true" autoUpdate="true"/>
        <h:panelGroup id="display">
            
            <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{modaBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu id="datos" value="#{modaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
        
        
         <p:outputLabel value="Variable de frecuencias:" />
        <p:selectOneMenu value="#{modaBean.frecuenciaSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
       
       
        </p:panelGrid>
          
    <p:separator />
    
    
            
            <p:commandButton value="Aceptar" actionListener="#{modaBean.ejecutaModa}" update=":consola, :derecha" />
        <p:commandButton value="Cancelar" onclick="ModaDlg.hide()" />
    </h:panelGroup>
 
</p:dialog> 
    
    <p:dialog id="dlgMaximo" header="Medidas de Posicion: Máximo" widgetVar="MaximoDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{maximoBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{maximoBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{maximoBean.ejecutaMaximo}" update=":consola, :derecha"  oncomplete="MaximoDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="MaximoDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>   
    
    <p:dialog id="dlgMinimo" header="Medidas de Posicion: Mínimo" widgetVar="MinimoDlg" modal="true" resizable="false">
    
     
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{minimoBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{minimoBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{minimoBean.ejecutaMinimo}" update=":consola, :derecha"  oncomplete="MinimoDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="MinimoDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>   
    
   
    <p:dialog id="dlgMedidasDispersion" header="Medidas de dispersión" widgetVar="mDispersionDlg" modal="true" resizable="false">
    
    <!--
        Medidas de dispersión (rango, varianza, desviación típica, coeficiente de variación)
    -->
    
 
        
        <h:panelGrid  cellpadding="5">
            <h:outputText value="Variable" />
            <p:selectOneListbox  value="#{centralizacionBean.variableSeleccionada}" style="height:220px;margin: 10px;padding: 10px"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneListbox>
        </h:panelGrid>
 <p:separator style="margin-bottom:10px"/>

    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        
        <h:outputText value="Grid: " />
        <p:selectManyCheckbox id="grid" value="#{centralizacionBean.operacionesSeleccionadas}" layout="grid" columns="3">
            <f:selectItems value="#{centralizacionBean.operaciones}"/>
        </p:selectManyCheckbox>

    </h:panelGrid>

    <p:separator />
<h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{centralizacionBean.ejecutar}" update=":consola, :derecha, izquierda"  oncomplete="mDispersionDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" actionListener="#{centralizacionBean.establecerDialogo}"  oncomplete="mDispersionDlg.hide();" />
            </h:panelGrid> 
   

   
</p:dialog>        
    

    <!--
        Medidas de Dispercion
   =====================================================================================================================================================
        Medidas de Dispersión: Varianza (Poblacional)
    -->
     <p:dialog id="dlgVarianza" header="Medidas de Dispersión: Varianza" widgetVar="VarianzaDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{varianzaBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{varianzaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{varianzaBean.ejecutaVarianza}" update=":consola, :derecha"  oncomplete="VarianzaDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="VarianzaDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>        
    
    
    <!--
      Medidas de Dispersión: Desviacion estandar (Poblacional)
    -->
     <p:dialog id="dlgDesviacionEstandarPoblacional" header="Medidas de Dispersión: Desviacion estandar (Poblacional)" widgetVar="DesviacionEstandarPoblacionalDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{desviacionEstandarBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{desviacionEstandarBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{desviacionEstandarBean.ejecutaDesviacionEstandar}" update=":consola, :derecha"  oncomplete="DesviacionEstandarPoblacionalDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="DesviacionEstandarPoblacionalDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>    
    
    
    <!--
          Medidas de Dispersión: Cuasi varianza (varianza muestral)
    -->
     <p:dialog id="dlgCuasiVarianza" header="Medidas de Dispersión: Cuasi-varianza (varianza muestral)" widgetVar="CuasiVarianzaDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{cuasiVarianzaBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{cuasiVarianzaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{cuasiVarianzaBean.ejecutaCuasiVarianza()}" update=":consola, :derecha"  oncomplete="CuasiVarianzaDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="CuasiVarianzaDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>   
    
    
    <!--
          Medidas de Dispersión: Desviacion estandar (Muestral)
    -->
   
    
    <!--
          Medidas de Dispersión: Rangos ==> intercuartill .....etc
    -->
     <p:dialog id="dlgRangos" header="Medidas de Dispersión: Rangos" widgetVar="RangosDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{rangosBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{rangosBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{rangosBean.ejecutaRangos()}" update=":consola, :derecha"  oncomplete="RangosDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="RangosDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>    
    
    <!--
          Medidas de Dispersión: Coeficiente de variacion
    -->
     <p:dialog id="dlgCoeficienteVariacion" header="Medidas de Dispersión: Coeficiente de variacion" widgetVar="CoeficienteVariacionDlg" modal="true" resizable="false">
    
     <!--
        Medidas de posición central (media, mediana, moda)
        Medidas de posición no central (cuartiles, deciles, centiles)
    -->
    

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{coefVariacionBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{coefVariacionBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{coefVariacionBean.ejecutaCoefVariacion()}" update=":consola, :derecha"  oncomplete="CoeficienteVariacionDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="CoeficienteVariacionDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>        
    
    
     <!--
       Descriptiva: Funciunes Matemáticas
   
        Funciunes Matemáticas: Suma
    -->
     <p:dialog id="dlgSuma" header="Funciunes Matemáticas: Suma" widgetVar="SumaDlg" modal="true" resizable="false">
    
    <h:outputLabel value="Nombre:" />
    <p:inputText label="nombre" value="#{sumaBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{sumaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{sumaBean.ejecutaSuma()}" update=":consola, :derecha"  oncomplete="SumaDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="SumaDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>   
    
    <!--
         Funciunes Matemáticas: Producto
    -->
     <p:dialog id="dlgProducto" header="Funciunes Matemáticas: Producto" widgetVar="ProductoDlg" modal="true" resizable="false">
    
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{productoBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Variable:" />
        <p:selectOneMenu value="#{productoBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{productoBean.ejecutaProducto()}" update=":consola, :derecha"  oncomplete="ProductoDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="ProductoDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog> 
    

    <!--
       Funciunes Matemáticas: Suma de cuadrados
    -->
    <p:dialog id="dlgSumaCuadrados" header="Funciunes Matemáticas: Suma de cuadrados" widgetVar="SumaCuadradosDlg" modal="true" resizable="false">

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{sumaCuadradosBean.nuevoDato}" placeholder="Opcional"/>

        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
            <p:outputLabel value="Variable:" />
            <p:selectOneMenu value="#{sumaCuadradosBean.variableSeleccionada}">
                <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
                <f:selectItems value="#{consolaBean.variables}" />
            </p:selectOneMenu>


        </h:panelGrid>

        <p:separator />
        <h:panelGrid columns="2" cellpadding="5"> 
            <p:commandButton value="Aceptar" actionListener="#{sumaCuadradosBean.ejecutaSumaCuadrados()}" update=":consola, :derecha"  oncomplete="SumaCuadradosDlg.hide();"/>
            <p:commandButton value="Cancelar" onclick="SumaCuadradosDlg.hide()" />
        </h:panelGrid> 

    </p:dialog>   


    <!--
        Momentos
    -->
        
       
        
        
   
</html>

