<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">       


<p:dialog id="dlgPlot" header="Dialogo de Graficos" widgetVar="plotsDlg" modal="true" resizable="false">
    
 <h:form id="plotsDlgForm">
        
     <h:panelGrid columns="2" cellpadding="5">
         <h:panelGrid styleClass="variableGraficos">
            <h:outputText value="Variable" />
            <p:selectOneListbox  value="#{plotsBean.variable1}" style="height:220px;margin: 10px;padding: 10px"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneListbox>
        </h:panelGrid> 
         
         <h:panelGrid columns="4" styleClass="opcionesGrafico">
        <h:outputText value="Título" />
        <p:inputText value="#{plotsBean.titulo}"/>
        <h:outputText value="Subtítulo" />
        <p:inputText value="#{plotsBean.subtitulo}"/>
        <h:outputText value="Leyenda x" />
        <p:inputText value="#{plotsBean.xlab}"/>
        <h:outputText value="Leyenda y" />
        <p:inputText value="#{plotsBean.ylab}"/>
     </h:panelGrid>
       
    </h:panelGrid>
 
<h:panelGrid columns="2" cellpadding="5"> 

    <p:commandButton value="Aceptar" actionListener="#{plotsBean.ejecutar}" process="@form" update=":derecha, :consola"  oncomplete="plotsDlg.hide();"
                                 />
    <p:commandButton value="Cancelar" actionListener="#{plotsBean.establecerDialogo}" update="plotsDlgForm" oncomplete="plotsDlg.hide();" />
            </h:panelGrid> 
   
</h:form>
   
        
</p:dialog>  

<!--
        Unidimensionales
-->
        
<p:dialog id="dlgUnidimensionalesPlots" header="Graficos Unidimensionales" widgetVar="plotsUnidimensionalesDlg" modal="true" width="800" resizable="false">
    
 <h:form id="plotsUnidimensionalesForm">
     
     <h:panelGrid columns="2" cellpadding="5">
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputText value="Variable" />
            <p:selectOneMenu  value="#{plotsBean.variable1}" style="width:125px"> 
               <f:selectItem itemLabel="Seleccione una" itemValue="" />
               <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu>
            <h:outputText value="Expresión" />
            <p:inputText value="#{plotsBean.expresion}" alt="Introduzca expresión válida."/>
        
       
         
              <p:outputLabel for="operacion" value="Operación:" />
        <p:selectOneRadio id="operacion" value="#{plotsBean.operacion}"  layout="grid" columns="3">
            <f:selectItems value="#{plotsBean.operacionesUnidimencionales}" var="c" itemLabel="#{op}" itemValue="#{op}"/>
        </p:selectOneRadio> 
         </h:panelGrid>
     </h:panelGrid>
     <h:panelGrid styleClass="variableGraficos" columns="2">
           
        <h:panelGrid columns="4" styleClass="opcionesGrafico">
        <h:outputText value="Título" />
        <p:inputText value="#{plotsBean.titulo}"/>
        <h:outputText value="Subtítulo" />
        <p:inputText value="#{plotsBean.subtitulo}"/>
        <h:outputText value="Leyenda x" />
        <p:inputText value="#{plotsBean.xlab}"/>
        <h:outputText value="Leyenda y" />
        <p:inputText value="#{plotsBean.ylab}"/>
        <h:outputText value="Colores de las cajas" />
        <p:inputText value="#{plotsBean.col}"/>
     </h:panelGrid>
       
    </h:panelGrid>
<h:panelGrid columns="2" cellpadding="5"> 

    <p:commandButton value="Aceptar" actionListener="#{plotsBean.ejecutarUnidemencional()}" process="@form" update=":derecha, :consola"  oncomplete="plotsUnidimensionalesDlg.hide();"/>
                     <p:commandButton value="Cancelar" onclick="plotsUnidimensionalesDlg.hide();" />
            </h:panelGrid> 
   
</h:form>
   
        
</p:dialog> 

<!--
        Bidimensionales
-->

<p:dialog id="dlgBidimensionalesPlots" header="Graficos Bidimensionales" widgetVar="plotsBidimensionalesDlg" modal="true" resizable="false">
    
 <h:form id="plotsBidimensionalesForm">
        
       <h:panelGrid columns="2" cellpadding="5">
         <h:panelGrid styleClass="variableGraficos">
            <h:outputText value="Variable 1" />
            <p:selectOneMenu  value="#{plotsBean.variable1}" style="width:125px"> 
               <f:selectItem itemLabel="Seleccione una" itemValue="" />
               <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu>
            <h:outputText value="Variable 2" />
            <p:selectOneMenu  value="#{plotsBean.variable2}" style="width:125px"> 
               <f:selectItem itemLabel="Seleccione una" itemValue="" />
               <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu>
            <p:outputLabel for="operacion" value="Operación:" />
        <p:selectOneRadio id="operacion" value="#{plotsBean.operacion}"  layout="grid" columns="3">
            <f:selectItems value="#{plotsBean.operacionesBidimencionales}"/>
        </p:selectOneRadio>
        </h:panelGrid> 
         
         <h:panelGrid columns="4" styleClass="opcionesGrafico">
        <h:outputText value="Título" />
        <p:inputText value="#{plotsBean.titulo}"/>
        <h:outputText value="Subtítulo" />
        <p:inputText value="#{plotsBean.subtitulo}"/>
        <h:outputText value="Leyenda x" />
        <p:inputText value="#{plotsBean.xlab}"/>
        <h:outputText value="Leyenda y" />
        <p:inputText value="#{plotsBean.ylab}"/>
     </h:panelGrid>
       
    </h:panelGrid>
 
    <p:separator />
<h:panelGrid columns="2" cellpadding="5"> 

    <p:commandButton value="Aceptar" actionListener="#{plotsBean.ejecutarBidemencional()}" process="@form" update=":derecha, :consola"  oncomplete="plotsBidimensionalesDlg.hide();"
                                 />
    <p:commandButton value="Cancelar" onclick="plotsBidimensionalesDlg.hide();" />
            </h:panelGrid> 
   
</h:form>
   
        
</p:dialog> 

<!--
        Tridimensionales
-->

<p:dialog id="dlgTridimensionalesPlots" header="Graficos Tridimensionales" widgetVar="plotsTridimensionalesDlg" modal="true" resizable="false">
    
 <h:form id="plotsTridimensionalesForm">
        
       <h:panelGrid columns="2" cellpadding="5">
         <h:panelGrid styleClass="variableGraficos">
           <h:outputText value="Variable 1" />
            <p:selectOneMenu  value="#{plotsBean.variable1}" style="width:125px"> 
               <f:selectItem itemLabel="Seleccione una" itemValue="" />
               <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu>
           <h:outputText value="Variable 2" />
           <p:selectOneMenu  value="#{plotsBean.variable2}" style="width:125px"> 
               <f:selectItem itemLabel="Seleccione una" itemValue="" />
               <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu><h:outputText value="Variable 3" />
            <p:selectOneMenu  value="#{plotsBean.variable3}" style="width:125px"> 
               <f:selectItem itemLabel="Seleccione una" itemValue="" />
               <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu>
        </h:panelGrid> 
           <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel for="operacion" value="Operación:" />
        <p:selectOneRadio id="operacion" value="#{plotsBean.operacion}"  layout="grid" columns="3">
            <f:selectItems value="#{plotsBean.operacionesTridimencionales}" var="c" itemLabel="#{op}" itemValue="#{op}"/>
        </p:selectOneRadio>
    </h:panelGrid>
        <h:panelGrid columns="4" styleClass="opcionesGrafico">
        <h:outputText value="Título" />
        <p:inputText value="#{plotsBean.titulo}"/>
        <h:outputText value="Subtítulo" />
        <p:inputText value="#{plotsBean.subtitulo}"/>
        <h:outputText value="Leyenda x" />
        <p:inputText value="#{plotsBean.xlab}"/>
        <h:outputText value="Leyenda y" />
        <p:inputText value="#{plotsBean.ylab}"/>
     </h:panelGrid>
       
    </h:panelGrid>
 
    <p:separator />
<h:panelGrid columns="2" cellpadding="5"> 

    <p:commandButton value="Aceptar" actionListener="#{plotsBean.ejecutarTridemencional()}" process="@form" update=":derecha, :consola"  oncomplete="plotsTridimensionalesDlg.hide();"
                                 />
    <p:commandButton value="Cancelar" onclick="plotsTridimensionalesDlg.hide();" />
    </h:panelGrid> 
   
</h:form>
   
        
</p:dialog> 

</html>