
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    >
        
  
       
     <p:dialog id="dlgVisor" header="Visor de gráficos" widgetVar="gvisorDlg" modal="true" resizable="false"
         >
         <h:form id="visorDlgForm"> 
             <p:graphicImage value="#{plotsBean.urlimg}"/>
         </h:form>  
   </p:dialog>        
      
</html>
