<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
      <!--   dlgListarObjetos   -->  
    <p:dialog id="dlgListarObjetos" header="Listar objetos" widgetVar="listarObjetosDlg" modal="true" resizable="false" width="310">
         <h:panelGrid columns="2" cellpadding="5"> 
             <p:graphicImage alt="" url="resources/icons/icon-question.png"/>
             <p:outputLabel value="¿Desea ver detalles sobre los objetos?"/>
         </h:panelGrid>
         <p:separator/>
            <h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Si" actionListener="#{listVariableBean.listarVariables(0)}" update=":consola, :derecha"  oncomplete="listarObjetosDlg.hide();" 
                                 />
                <p:commandButton value="No" actionListener="#{listVariableBean.listarVariables(1)}" update=":consola, :derecha" oncomplete="listarObjetosDlg.hide();"/>
            </h:panelGrid> 
    
 
</p:dialog> 
    
    
        <!-- Dialogo Crear matriz -->

        <p:dialog id="dlgCrearMat" header="Matrices: Nueva matriz" widgetVar="crearMatDlg" modal="true" resizable="false">


        <h:panelGrid  columns="2" cellpadding="5">

            <h:outputLabel value="Nombre:" />
            <p:inputText label="nombre" value="#{crearMatrizBean.nombre}" />

            <h:outputLabel for="Datos" value="Datos:" />
            <p:inputText label="datos" placeholder="Valores o Conjunto" value="#{crearMatrizBean.datos}"/>
            <h:outputLabel value="Filas:" />
            <p:spinner placeholder="Nº filas" min="1" value="#{crearMatrizBean.nrow}"/>
            <h:outputLabel value="Columnas:" />
            <p:spinner placeholder="Nº columnas" label="columnas" min="1" value="#{crearMatrizBean.ncol}"/>
           
            <h:outputLabel value="Por fila:"/>
            <p:selectBooleanCheckbox  value="#{crearMatrizBean.porFila}"/>
        </h:panelGrid>  
        <p:separator/>

        <h:outputLabel value="Introduzca componentes separados por coma." />
        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar" actionListener="#{crearMatrizBean.crear}" update=":izquierda, :consola, :derecha"  oncomplete="crearMatDlg.hide();" 
                             />
            <p:commandButton value="Cancelar" actionListener="#{crearMatrizBean.reset}" oncomplete="crearMatDlg.hide();" update="izquierda" />
        </h:panelGrid> 

    </p:dialog>   
    
        <!--
            Dialogo Ordenar datos
        -->
        <p:dialog id="dlgOrdenarDatos" header="Ordenar datos" widgetVar="ordenarDatosDlg" modal="true" resizable="false">
           
        <h:panelGrid columns="2" cellpadding="5">

               <h:outputLabel for="Nombre" value="Nombre:" />
              
               <p:inputText label="nombre" value="#{ordenarDatosBean.nuevoDato}" />
               
                <h:outputLabel value="Variables:" />
                <p:selectOneListbox  value="#{ordenarDatosBean.varSeleccionada}" style="width: 96%;height: 150px;"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneListbox>
             </h:panelGrid>
            <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Orden:" />
        <p:selectOneRadio value="#{ordenarDatosBean.orden}">
            <f:selectItem  itemLabel="Ascendente:" itemValue="FALSE"  />
            <f:selectItem itemLabel="Descendente:" itemValue="TRUE" />
        </p:selectOneRadio>
    </h:panelGrid>
            <p:separator/>
            
            <h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{ordenarDatosBean.ordenar}" update=":consola, :derecha"  oncomplete="ordenarDatosDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" onclick="ordenarDatosDlg.hide();" />
            </h:panelGrid> 
    
 
</p:dialog> 
        
        <!-- Dialogo Crear sequencia aleatoria -->

        <p:dialog id="dlgSeqAleatoria" header="Datos: Nueva sequencia aleatoria" widgetVar="SeqAleatoriaDlg" modal="true" resizable="false">
            <h:panelGrid  columns="2" >

            <h:outputLabel value="Nombre:" />
            <p:inputText label="nombre" value="#{sequenciaAleatoriaBean.nuevoDato}" placeholder="Opcional"/>

            <h:outputLabel for="Datos" value="Rango:" />
            <p:inputText label="datos" placeholder="Número o Conjunto" value="#{sequenciaAleatoriaBean.datos}"/>
            <h:outputLabel value="Reemplazamiento"/>
            <p:selectBooleanCheckbox  value="#{sequenciaAleatoriaBean.reemplazo}"/>
            <h:outputLabel value="Longitud:" />
            <p:spinner placeholder="Nº elementos" min="0" value="#{sequenciaAleatoriaBean.longitud}"/>
            
            <h:outputLabel value="¿Ordenar sequencia?"/>
            <p:selectBooleanCheckbox  value="#{sequenciaAleatoriaBean.ordenar}"/>
            <h:panelGrid columns="2" cellpadding="5">
        
            <p:selectOneRadio id="orden" value="#{sequenciaAleatoriaBean.orden}">
                <f:selectItem itemLabel="Ascendente" itemValue="FALSE" />
                <f:selectItem itemLabel="Desendente" itemValue="TRUE" />
            </p:selectOneRadio>
    </h:panelGrid>
        </h:panelGrid>  
        <p:separator/>
        <h:panelGrid columns="2"> 
            <p:commandButton value="Aceptar" actionListener="#{sequenciaAleatoriaBean.ejecutaSeqAleatoria()}" update="dlgSeqAleatoria, :consola, :derecha"  oncomplete="SeqAleatoriaDlg.hide();" 
                             />
            <p:commandButton value="Cancelar" oncomplete="SeqAleatoriaDlg.hide();" />
        </h:panelGrid> 
    </p:dialog>   
        
      <!--
            Dialogo Borrar datos
        -->
        <p:dialog id="dlgBorrarDatos" header="Borrar datos" widgetVar="borrarDatosDlg" modal="true" resizable="false" width="400">
         <h:panelGrid columns="2" cellpadding="10">  
             <p:outputPanel id="customPanel">
        <p:selectOneRadio id="borrarRadio" value="#{borrarDatosBean.borraTodo}" layout="custom">
               <f:selectItem  itemLabel="Seleccionar objetos a borrar" itemValue="FALSE"  />
               <f:selectItem itemLabel="Borrar todos" itemValue="TRUE" />
        </p:selectOneRadio> 
        <h:panelGrid columns="2">
            <p:radioButton for="borrarRadio" itemIndex="0" />
            <h:outputLabel value="Seleccionar objetos a borrar" />
            <p:radioButton for="borrarRadio" itemIndex="1" />
            <h:outputLabel value="Borrar todos" />
        </h:panelGrid>
        </p:outputPanel>
         <p:outputPanel style="width: 100%">
             <h:outputLabel value="Objetos" />
            <p:selectManyMenu  value="#{borrarDatosBean.varsSeleccionadas}" style="height: 150px;"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectManyMenu>
                 
             </p:outputPanel>
         
         </h:panelGrid> 
        
        
            
           <p:separator/>
            <h:panelGrid columns="2" cellpadding="5"> 
            <p:commandButton value="Aceptar" actionListener="#{borrarDatosBean.borrar}" update=":consola, :derecha"  oncomplete="borrarDatosDlg.hide();" 
                                 />
            <p:commandButton value="Cancelar" onclick="borrarDatosDlg.hide();" />
            </h:panelGrid> 
    </p:dialog> 
        
        
        
        <!--
            Dialogo Extraer datos
        -->
        <p:dialog id="dlgExtraerDatos" header="Extraer datos" widgetVar="extraerDatosDlg" modal="true" resizable="false">
        <h:panelGrid columns="2">  
            <h:outputLabel value="Nombre:" />
            <p:inputText label="nombre" value="#{extraerDatosBean.nuevoDato}" placeholder="Opcional"/>
            <h:outputLabel value="Objetos" />
            <p:selectOneMenu  value="#{extraerDatosBean.varSeleccionada}"> 
                <f:selectItem itemValue="" itemLabel="Seleccionar" />
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneMenu>
            <h:outputLabel value="Componente" />
            <p:spinner id="indc" placeholder="Indice a extraer" min="0" value="#{extraerDatosBean.indiceCmp}" disabled="#{extraerDatosBean.porRango}"/>
        </h:panelGrid> 
            <h:panelGrid columns="2">  
            <h:outputText value="Rango: " />  
        <p:selectBooleanCheckbox id="porRango" value="#{extraerDatosBean.porRango}">
            <p:ajax event="change" update="indc, minr, maxr" />
        </p:selectBooleanCheckbox>
        <h:outputLabel value="Inicio" />
        <p:spinner id="minr" placeholder="Min rango" min="0" value="#{extraerDatosBean.minRango}" disabled="#{!extraerDatosBean.porRango}"/>
        <h:outputLabel value="Fin" />
        <p:spinner id="maxr" placeholder="Max Rango" min="0" value="#{extraerDatosBean.maxRango}" disabled="#{!extraerDatosBean.porRango}"/>
       
        </h:panelGrid>
        <p:separator/>
            <h:panelGrid columns="2" cellpadding="5"> 
                <p:commandButton value="Aceptar" actionListener="#{extraerDatosBean.extraer}" update="dlgExtraerDatos,:consola, :derecha"  oncomplete="extraerDatosDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" actionListener="#{extraerDatosBean.prepareExtraer()}" update="dlgExtraerDatos,porRango" oncomplete="extraerDatosDlg.hide();" />  
            </h:panelGrid> 
    </p:dialog> 
        
        
    <!--
            Dialogo Longitud objetos
        -->
    <p:dialog id="dlgLongitudObjetos" header="Longitud de objetos" widgetVar="longitudObjetosDlg" modal="true" resizable="false">
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="Nombre" value="Nombre:" />
              
            <p:inputText label="nombre" value="#{longitudObjetosBean.nuevoDato}" />
            <h:outputLabel value="Objeto" />
            <p:selectOneListbox  value="#{longitudObjetosBean.varSeleccionada}" style="width: 96%;height: 150px;"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneListbox>
            </h:panelGrid>
           
            <p:separator/>
            <h:panelGrid columns="2" cellpadding="5"> 
                <p:commandButton value="Aceptar" actionListener="#{longitudObjetosBean.longitud}" update=":consola, :derecha"  oncomplete="longitudObjetosDlg.hide();" 
                                 />
            <p:commandButton value="Cancelar" onclick="longitudObjetosDlg.hide();" />
            </h:panelGrid> 
    </p:dialog>   

</html>

