<p:dialog id="dlgConjuntoDatos" header="Crear conjunto de datos" widgetVar="creaCjtoDlg" modal="true" resizable="false"
          xmlns:p="http://primefaces.org/ui"
          xmlns:h="http://java.sun.com/jsf/html">
    <h:form id="conjuntoForm">

            <h:panelGrid id="notpR" columns="2" cellpadding="5">

               <h:outputLabel for="Nombre" value="Nombre:" />
               <p:inputText id="Nombre" label="nombre" value="#{manipularDatosBean.nombre}" />

                <h:outputLabel for="Datos" value="Datos:" />
                <p:inputText id="Datos" disabled="#{manipularDatosBean.porRango}" label="datos" value="#{manipularDatosBean.datos}" />
            </h:panelGrid>  
            <p:separator/>

            <h:outputText value="Por Rango: " />  
            <p:selectBooleanCheckbox id="porRango" value="#{manipularDatosBean.porRango}">

                <p:ajax event="change" update="Datos,min,max,paso" />
            </p:selectBooleanCheckbox>


            <h:panelGrid id="pR" columns="2" cellpadding="5" >

                <h:outputLabel for="min" value="Mínimo: " />
                <p:spinner id="min" disabled="#{!manipularDatosBean.porRango}"
                           value ="#{manipularDatosBean.minR}"/>

                <h:outputLabel for="max" value="Máximo: " />
                <p:spinner id="max"  disabled="#{!manipularDatosBean.porRango}"
                           value="#{manipularDatosBean.maxR}"/>
                <h:outputLabel for="paso" value="Paso: " />
                <p:spinner id="paso" disabled="#{!manipularDatosBean.porRango}"
                           value="#{manipularDatosBean.paso}"/>
            </h:panelGrid>

            <p:separator/>
            <h:outputLabel value="Introduzca componentes separados por coma." />
            <h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{manipularDatosBean.ejecutar}" update="notpR,pR,porRango,:consola,:derecha"  oncomplete="creaCjtoDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" actionListener="#{manipularDatosBean.establecerDialogo}" update="notpR,pR,porRango" oncomplete="creaCjtoDlg.hide();" />
            </h:panelGrid> 
    
 </h:form>
</p:dialog>        
        

