<p:dialog id="dlgCrearVar" header="Nueva variable" widgetVar="crearVarDlg" modal="true" resizable="false"
          xmlns:p="http://primefaces.org/ui"
          xmlns:h="http://java.sun.com/jsf/html">
    

            <h:panelGrid  columns="2" cellpadding="5">

               <h:outputLabel for="Nombre" value="Nombre:" />
               <p:inputText id="Nombre" label="nombre" value="#{variablesBean.nombreVariable}" />

                <h:outputLabel for="Datos" value="Datos:" />
                <p:inputText id="Datos" label="datos" value="#{variablesBean.datos}" />
            </h:panelGrid>  
            <p:separator/>

           
            <p:separator/>
            <h:outputLabel value="Introduzca componentes separados por coma." />
            <h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{variablesBean.crearVariable()}" update=":consola, :derecha" oncomplete="crearVarDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar"  oncomplete="crearVarDlg.hide();" />
            </h:panelGrid> 
</p:dialog>        
        

