<p:dialog id="dlglistarVars" header="Crear conjunto de datos" widgetVar="listarVarsDlg" modal="true" resizable="false"
          xmlns:p="http://primefaces.org/ui"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://xmlns.jcp.org/jsf/core">
   

            <h:panelGrid columns="2" cellpadding="5">
                 
                <p:selectOneListbox  value="#{listVariableBean.variable}" style="height:220px;margin: 10px;padding: 10px"> 
                <f:selectItems value="#{listVariableBean.variables}"  />
            </p:selectOneListbox>
               
</h:panelGrid> 

            

            <p:separator/>
           
            <h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{listVariableBean.evalua()}" oncomplete="listarVarsDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" oncomplete="listarVarsDlg.hide();" />
            </h:panelGrid> 
    
 
</p:dialog>        
        

