<p:dialog id="dlgOrdenarDatos" header="Ordenar datos" widgetVar="ordenarDatosDlg" modal="true" resizable="false"
          xmlns:p="http://primefaces.org/ui"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="ordenarForm">

           
        <h:panelGrid columns="2" cellpadding="5">

               <h:outputLabel for="Nombre" value="Nombre:" />
              
               <p:inputText id="Nombre" label="nombre" value="#{datosBean.nombre}" />
               
                <h:outputLabel for="Datos" value="Datos:" />
                <p:selectOneMenu id="car" value="#{consolaBean.varSeleccionada}">
            <f:selectItem itemLabel="Seleccione uno" itemValue="" />
            <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
             </h:panelGrid>
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Orden:" />
        <p:selectOneRadio value="#{datosBean.orden}">
            <f:selectItem  itemLabel="Ascendente:" itemValue="FALSE"  />
            <f:selectItem itemLabel="Descendente:" itemValue="TRUE" />
           
        </p:selectOneRadio>
    </h:panelGrid>
            <p:separator/>
            
            <h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{datosBean.ordenar}" update=":consola, :derecha"  oncomplete="ordenarDatosDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" onclick="ordenarDatosDlg.hide();" />
            </h:panelGrid> 
    
 </h:form>
</p:dialog>        
        

