

        
  
        
<p:dialog id="dlgPlantilla" header="Dialogo de Plantilla" widgetVar="plantillaDlg" modal="true" resizable="false"
          xmlns:p="http://primefaces.org/ui"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:f="http://java.sun.com/jsf/core">
    
 <h:form id="dlgPlantillaForm">
        
        <h:panelGrid  cellpadding="5">
            <h:outputText value="Variable" />
            <p:selectOneListbox  value="#{centralizacionBean.variableSeleccionada}" style="height:220px;margin: 10px;padding: 10px"> 
                <f:selectItems value="#{consolaBean.variables}"  />
            </p:selectOneListbox>
        </h:panelGrid>
 <p:separator style="margin-bottom:10px"/>

    <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        
        <h:outputText value="Grid: " />
        <p:selectManyCheckbox id="grid" value="#{centralizacionBean.operacionesSeleccionadas}" layout="grid" columns="3">
            <f:selectItems value="#{centralizacionBean.operaciones}"/>
        </p:selectManyCheckbox>

    </h:panelGrid>

    <p:separator />
<h:panelGrid columns="2" cellpadding="5"> 

                <p:commandButton value="Aceptar" actionListener="#{centralizacionBean.ejecutar}" update="dlgPlantillaForm, :consola"  oncomplete="plantillaDlg.hide();" 
                                 />
                <p:commandButton value="Cancelar" actionListener="#{centralizacionBean.establecerDialogo}" update="dlgPlantillaForm" oncomplete="plantillaDlg.hide();" />
            </h:panelGrid> 
   
</h:form>
   
</p:dialog>        
        

