<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


     <!--
       Álgebra: Conjuntos
   
        Conjuntos: Unión
    -->
     <p:dialog id="dlgUnion" header="Conjuntos: Unión" widgetVar="UnionDlg" modal="true" resizable="false">
    
    <h:outputLabel value="Nombre:" />
    <p:inputText label="nombre" value="#{unionBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Dato 1:" />
        <p:selectOneMenu value="#{unionBean.dato1}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        <p:outputLabel value="Dato 2:" />
        <p:selectOneMenu value="#{unionBean.dato2}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{unionBean.ejecutaUnion()}" update=":consola, :derecha"  oncomplete="UnionDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="UnionDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog>   
    
    <!--
         Conjuntos: Intersección
    -->
     <p:dialog id="dlgInterseccion" header="Conjuntos: Intersección" widgetVar="InterseccionDlg" modal="true" resizable="false">
    
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{interseccionBean.nuevoDato}" placeholder="Opcional"/>
        
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
        <p:outputLabel value="Dato 1:" />
        <p:selectOneMenu value="#{interseccionBean.dato1}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        <p:outputLabel value="Dato 2:" />
        <p:selectOneMenu value="#{interseccionBean.dato2}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
        </p:selectOneMenu>
        
       
        </h:panelGrid>

    <p:separator />
    <h:panelGrid columns="2" cellpadding="5"> 
        <p:commandButton value="Aceptar" actionListener="#{interseccionBean.ejecutaInterseccion()}" update=":consola, :derecha"  oncomplete="InterseccionDlg.hide();"/>
        <p:commandButton value="Cancelar" onclick="InterseccionDlg.hide()" />
    </h:panelGrid> 
 
</p:dialog> 
    

    <!--
        Conjuntos: Diferencia Simétrica
    -->
    <p:dialog id="dlgDiferenciaSimetrica" header="Conjuntos: Diferencia Simétrica" widgetVar="DiferenciaSimetricaDlg" modal="true" resizable="false">

        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{diferenciaSimetricaBean.nuevoDato}" placeholder="Opcional"/>

        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
            <p:outputLabel value="Dato 1:" />
            <p:selectOneMenu value="#{diferenciaSimetricaBean.dato1}">
                <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
                <f:selectItems value="#{consolaBean.variables}" />
            </p:selectOneMenu>
            <p:outputLabel value="Dato 2:" />
            <p:selectOneMenu value="#{diferenciaSimetricaBean.dato2}">
                <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
                <f:selectItems value="#{consolaBean.variables}" />
            </p:selectOneMenu>

        </h:panelGrid>

        <p:separator />
        <h:panelGrid columns="2" cellpadding="5"> 
            <p:commandButton value="Aceptar" actionListener="#{diferenciaSimetricaBean.ejecutaDiferenciaSimetrica()}" update=":consola, :derecha"  oncomplete="DiferenciaSimetricaDlg.hide();"/>
            <p:commandButton value="Cancelar" onclick="DiferenciaSimetricaDlg.hide()" />
        </h:panelGrid> 

    </p:dialog>   



    
    
    
 <!-- Producto de matrices -->

    <p:dialog id="dlgProductoMat" header="Matrices: Producto" widgetVar="productoMatDlg" modal="true" resizable="false">


        <h:panelGrid  columns="2" cellpadding="5">

            <h:outputLabel value="Nombre:" />
            <p:inputText label="nombre" value="#{productoMatrizBean.nombre}" />

            <h:outputLabel value="Matriz A:" />
            <p:selectOneMenu value="#{productoMatrizBean.matA}">
                <f:selectItem itemLabel="Matriz A" itemValue="" />
                <f:selectItems value="#{consolaBean.variables}" />
            </p:selectOneMenu>
            <h:outputLabel value="Matriz B:" />
            <p:selectOneMenu value="#{productoMatrizBean.matB}">
                <f:selectItem itemLabel="Matriz B" itemValue="" />
                <f:selectItems value="#{consolaBean.variables}" />
            </p:selectOneMenu>
            <h:outputLabel value="Expresión:"/>
            <p:selectBooleanCheckbox  value="#{productoMatrizBean.expresion}">
                 <p:ajax event="change" update="Expresion" />
            </p:selectBooleanCheckbox>
            <p:inputText id="Expresion" disabled="#{!productoMatrizBean.expresion}" label="expresion" value="#{productoMatrizBean.datos}" />

        </h:panelGrid>  
        <p:separator/>


        <p:separator/>
        <h:outputLabel value="Introduzca componentes separados por coma." />
        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar" actionListener="#{productoMatrizBean.producto}" update=":consola, :derecha, dlgProductoMat"  oncomplete="productoMatDlg.hide();" 
                             />
            <p:commandButton value="Cancelar" actionListener="#{productoMatrizBean.reset()}" update="dlgProductoMat"  oncomplete="productoMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>        

    <!-- Traspuesta de matrices -->

    <p:dialog id="dlgTraspuestaMat" header="Matrices: Traspuesta" widgetVar="TraspuestaMatDlg" modal="true" resizable="false">
        
        <p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{traspuestaBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{traspuestaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>
        
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar" update=":consola, :derecha"  actionListener="#{traspuestaBean.ejecutaTraspuesta()}"
                             />
            <p:commandButton value="Cancelar"  onclick="TraspuestaMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>  
    
    <!-- Inversa de matrices -->
 
    <p:dialog id="dlgInversaMat" header="Matrices: Inversa" widgetVar="InversaMatDlg" modal="true" resizable="false">

<p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{inversaBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{inversaBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar"  update=":consola, :derecha"  actionListener="#{inversaBean.ejecutaInversa()}"
                             />
            <p:commandButton value="Cancelar"  onclick="InversaMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>     
    
     <!-- Solucion S. E. de matrices -->
 
    <p:dialog id="dlgSolucionSEMat" header="Matrices: Solucion S. E." widgetVar="solucionSEMatDlg" modal="true" resizable="false">


        Dialogo Solucion S. E. de matrices
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar"  update=":consola, :derecha"  oncomplete="solucionSEMatDlg.hide();" 
                             />
            <p:commandButton value="Cancelar"  oncomplete="solucionSEMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>       

    <!-- Descomposicion valores singulares de matrices -->

    <p:dialog id="dlgDescomposicionVSMat" header="Matrices: Descomposicion valores singulares" widgetVar="DescomposicionVSMatDlg" modal="true" resizable="false">

<p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{descomposicionSingularesBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{descomposicionSingularesBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar" update=":consola, :derecha"  actionListener="#{descomposicionSingularesBean.ejecutaDescomposicionSingulares()}"
                             />
            <p:commandButton value="Cancelar"  onclick="DescomposicionVSMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>  
    
    <!-- Descomposicion QR de matrices -->
    
    <p:dialog id="dlgDescomposicionQRMat" header="Matrices: Descomposicion QR" widgetVar="DescomposicionQRMatDlg" modal="true" resizable="false">


        <p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{descomposicionQRBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{descomposicionQRBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar"  update=":consola, :derecha" actionListener="#{descomposicionQRBean.ejecutaDescomposicionQR()}" 
                             />
            <p:commandButton value="Cancelar"  onclick="DescomposicionQRMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>        

 <!-- V. y V. propios de matrices -->

    <p:dialog id="dlgVVPropiosMat" header="Matrices: V. y V. propios de matrices" widgetVar="VVPropiosMatDlg" modal="true" resizable="false">

<p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{vyVPropiosBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{vyVPropiosBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>Dialogo V. y V. propios de matrices
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar" update=":consola, :derecha" actionListener="#{vyVPropiosBean.ejecutaVyVPropios()}" 
                             />
            <p:commandButton value="Cancelar"  onclick="VVPropiosMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>  
 
    <!-- Diagonal de matrices dado vector -->
    
    <p:dialog id="dlgDiagonalVMat" header="Matrices: Diagonal de matrices dado vector" widgetVar="DiagonalVMatDlg" modal="true" resizable="false">

<p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{diagonalVBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{diagonalVBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar"  update=":consola, :derecha" actionListener="#{diagonalVBean.ejecutaTraspuesta()}"
                             />
            <p:commandButton value="Cancelar"  onclick="DiagonalVMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>        

 <!-- Diagonal de matrices dado matriz -->

    <p:dialog id="dlgDiagonalMMat" header="Matrices: Diagonal de matrices dado matriz" widgetVar="DiagonalMMatDlg" modal="true" resizable="false">

<p:messages showDetail="true" autoUpdate="true"/>
        <p:panelGrid columns="2">
        <h:outputLabel value="Nombre:" />
        <p:inputText label="nombre" value="#{diagonalBean.nuevoDato}" placeholder="Opcional"/>
        
        
        <p:outputLabel value="Variable de datos:" />
        <p:selectOneMenu value="#{diagonalBean.variableSeleccionada}">
            <f:selectItem itemLabel="Seleccione Variable" itemValue="" />
             <f:selectItems value="#{consolaBean.variables}" />
           
        </p:selectOneMenu>
         </p:panelGrid>
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar" update=":consola, :derecha"  actionListener="#{diagonalBean.ejecutaTraspuesta()}" 
                             />
            <p:commandButton value="Cancelar"  onclick="diagonalMMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>  
 
    <!-- Producto exterior de matrices -->
    
    <p:dialog id="dlgProductoExtMat" header="Matrices: Producto exterior de matrices" widgetVar="productoExtMatDlg" modal="true" resizable="false">


        Dialogo Producto exterior de matrices
        <p:separator/>

        <h:panelGrid columns="2" cellpadding="5"> 

            <p:commandButton value="Aceptar"  update=":consola, :derecha"  oncomplete="productoExtMatDlg.hide();" 
                             />
            <p:commandButton value="Cancelar"  oncomplete="productoExtMatDlg.hide();" />
        </h:panelGrid> 

    </p:dialog>        



</html>

