<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Web R Uma</title>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="resources/css/main.css"/>
        <h:outputScript library="js" name="webrumajsf.js" />
       
            <script type="text/javascript">
                var indexGrfc;
                function init(){
                    indexGrfc = 0;
                }
            </script>  
            
    </h:head>
    <h:body onload="init();">

        <!--[if lt IE 7]>
           <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
       <![endif]-->
        <ui:include src="/Vistas/menuSuperior.xhtml"/>
        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="logo"><h:graphicImage alt="Logo R" url="resources/img/r_logo.png"/></h1>
                <nav id="menu-wrap">
                    <ul id="menu">
                        <li>
                            <a href="#">Inicio</a>
                           
                        </li>
                         <li>
                             <h:form>
                             <p:commandLink id="ajax" value="Abrir Script" onclick="abrirScriptDlg.show();"/>
                              </h:form>
                           
                        </li>
                         <li>
                            <a href="#" >Cargar Histórico</a>
                           
                        </li>
                         <li>
                            <a href="#">Guardar Histórico</a>
                           
                        </li>
                         <li>
                              <h:form>
                             <p:commandLink id="ajax" value="Cargar Trabajo" onclick="cargarRDataDlg.show();"/>
                              </h:form>
                         </li>
                         <li>
                            <a href="#">Guardar Trabajo</a>
                           
                        </li>
                        <li>
                            <a href="#">Ayuda</a>
                            <ul>
                                <li><a href="http://developer.R-project.org" target="banner">Developer Page</a></li>
                                <li><a href="http://cran.r-project.org/manuals.html" target="banner">Manuales</a></li>
                                <li><a href="http://cran.r-project.org/faqs.html" target="banner">FAQs</a></li>
                                <li><a href="http://www.r-project.org/doc/bib/R-books.html" target="banner">Libros</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                <aside id="left">
                    <h:form id="izquierda">
                    <p:panel id="poperaciones" header="Operaciones">  
                        <p>
                            <ui:include src="/Vistas/menuIzquierda.xhtml"/>
                        </p>
                    
                    </p:panel>
                    </h:form>
                </aside>
                <article> 
                    <h:form id="consola" style="width: 100%">
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" /> 
                    <p:panel id="pconsola" header="Consola de R">  
                        
                        
                            <p:inputTextarea id="consolaOutput" value="#{consolaBean.salida}" rows="20" autoResize="false" readonly="true" style="width: 100%; margin-top:10px; background: whitesmoke;"/>
                            <h:panelGrid columns="3">
                                <p:inputText id="consolaInput"  size="52" value="#{consolaBean.comando}" style="background: whitesmoke;"/>

                                <p:commandButton id="btnEjecutar" value="Ejecutar" title="Ejecutar" process="@form" update="consola, :derecha" icon="ui-icon-play" actionListener="#{consolaBean.ejecutarComando}"/>
                                <p:commandButton id="clearButton" value="Limpiar" title="Limpiar consola" update="consola" icon="ui-icon-close" actionListener="#{consolaBean.limpiarPantalla}"/>
                            </h:panelGrid>
                            </p:panel>  
                            <script >
                                var textarea = document.getElementById("consola:consolaOutput");
                                textarea.scrollTop = textarea.scrollHeight; // Scrolls to bottom.
                             </script>
                        <p:sticky target="consola" margin="30" />
                    </h:form>
                   
                </article>

                <aside>
                   
                    <h:form id ="derecha">
                        <p:dashboard model="#{dashboardView.model}" style="width: 100%">
                            <p:ajax event="reorder"/>
                            <p:panel id="tbMenu" header="Medios" styleClass="tabMenu">
                                <p:tabView >
                                    <p:tab title="Objetos">
                                        <div class="selectVariables">
                                            <p:selectOneListbox  value="#{variablesBean.varSeleccionada}" styleClass="solbVariables" style="background: whitesmoke;"> 
                                                <f:selectItems value="#{consolaBean.variables}" />
                                                <p:ajax event="change" update="variablesEliminarBtn, variablesEvaluarBtn"/>
                                            </p:selectOneListbox>
                                        </div>
                                        <div class="divebotones">
                                            <p:commandButton title="Nueva variable" icon="ui-icon-plusthick" value="Nuevo" onclick="crearVarDlg.show();"/>
                                            <p:commandButton id="variablesEliminarBtn" title="Eliminar"  icon="ui-icon-minusthick" value="Eliminar" action="#{variablesBean.eliminar}" disabled="#{empty variablesBean.varSeleccionada}" update="variablesEliminarBtn, :consola, :derecha"/>
                                            <p:commandButton id="variablesEvaluarBtn" title="Evaluar variable seleccionada" icon="ui-icon-circle-arrow-e" value="Evaluar" action="#{variablesBean.evaluarVariable}" disabled="#{empty variablesBean.varSeleccionada}" update="variablesEvaluarBtn, :consola, :derecha"/>
                                            <p:commandButton id="variablesListarBtn" title="Listar objetos en consola" icon="ui-icon-clipboard" value="Listar variables" onclick="listarObjetosDlg.show()"/>

                                        </div>
                                        <br style="clear:both;"/>
                                    </p:tab>
                                    <p:tab title="Historial">

                                        <div class="selectVariables">
                                            <p:selectManyMenu id="historialCmd"  value="#{historialBean.comandosSeleccionados}"  styleClass="solbVariables" >  
                                                <f:selectItems  value="#{historialBean.historial}"  />
                                                <p:ajax event="change" update="editCmdHistorial, ejecutarCmdHistorial, borrarSelectedCmd"/>
                                            </p:selectManyMenu>
                                        </div>
                                        <div class="divebotones">  
                                            <p:commandButton id="editCmdHistorial" value="editar" title="Copiar comando a consola para editar" actionListener="#{historialBean.editarSeleccionados}" disabled="#{empty historialBean.comandosSeleccionados}" update=":derecha, :consola, historialCmd" icon="ui-icon-pencil" />
                                            <p:commandButton id="ejecutarCmdHistorial" title="Ejecutar los comandos seleccionados" actionListener="#{historialBean.ejecutarHistorial}" disabled="#{empty historialBean.comandosSeleccionados}" update=":consola, :derecha" icon="ui-icon-play" />
                                            <p:commandButton id="borrarSelectedCmd" title="Borrar los comandos seleccionados del historial" actionListener="#{historialBean.borrarSeleccionadosHistorial}" disabled="#{empty historialBean.comandosSeleccionados}" update=":derecha" icon="ui-icon-trash" />
                                            <p:commandButton id="limpiaHistorialCmd"  title="Borrar los comandos del historial" actionListener="#{historialBean.limpiarHistorial}" disabled="#{empty historialBean.historial}" update=":derecha" icon="ui-icon-trash" />

                                        </div>
                                        <br style="clear:both;"/>
                                    </p:tab>


                                </p:tabView>
                            </p:panel>

                            <p:panel id="pgraficos" header="Graficos" toggleable="true">
                                <!-- Graficos del sistema en este momento -->
                                <h:inputHidden  id="hiddenButton" value="#{plotsBean.urlimg}"/>
                                <p:panelGrid columns="5" style="width: 90%; margin: 0 auto">
                                    <p:commandButton id="nuevaGraficaBtn" type="button" title="Nueva gráfica" icon="ui-icon-plusthick" value="Nueva"/>
                                    <p:menu overlay="true" trigger="nuevaGraficaBtn" my="left top" at="left bottom">
                                        <p:menuitem value="Unidimensionales" update=":izquierda:dlgUnidimensionalesPlots" oncomplete="plotsUnidimensionalesDlg.show();" icon="ui-icon-circle-triangle-e"/>
                                        <p:menuitem value="Bidimensionales" update=":izquierda:dlgBidimensionalesPlots" oncomplete="plotsBidimensionalesDlg.show();" icon="ui-icon-circle-triangle-e"/>
                                        <p:menuitem value="Tridimensionales" update=":izquierda:dlgTridimensionalesPlots" oncomplete="plotsTridimensionalesDlg.show();" icon="ui-icon-circle-triangle-e"/>
                                    </p:menu>
                                    <p:commandButton title="Eliminar gráfica actual" disabled="#{empty consolaBean.graficosSession}" icon="ui-icon-minusthick" value="Eliminar" action="#{plotsBean.eliminarGrafico}" update="derecha:pgraficos" onclick="setImagePath();"/>
                                    <p:commandButton title="Guardar gráfica actual" ajax="false" icon="ui-icon-arrowthick-1-s" actionListener="#{plotsBean.guardarGrafico()}" disabled="#{empty consolaBean.graficosSession}"  value="Guardar" onclick="setImagePath();">
                                        <p:fileDownload value="#{plotsBean.file}" />
                                    </p:commandButton>
                                </p:panelGrid>
                                <div style="width: 90%; margin: 0 auto">
                                <p:commandButton type="button" disabled="#{empty consolaBean.graficosSession}" onclick='switcher.previous();' icon="ui-icon-circle-triangle-w" id="prev"/>
                                    <p:commandButton type="button" disabled="#{empty consolaBean.graficosSession}" onclick="switcher.next();" icon="ui-icon-circle-triangle-e" id="next"/>
                                
                                <p:imageSwitch id="switch" effect="wipe" widgetVar="switcher" slideshowAuto="false" >
                                        <ui:repeat value="#{consolaBean.graficosSession}" var="image" id="galeriaGraficos">
                                            
                                            <p:graphicImage id="image" value="#{image}" alt="Image Description for #{image}" title="#{image}" style="width: 100%;"/>
                                            
                                        </ui:repeat>
                                </p:imageSwitch></div>
                                <br style="clear:both;"/>
                            </p:panel> 
                        </p:dashboard>
                        <div style="clear:both" />
                    </h:form>
                </aside>

            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container" >
            <footer class="wrapper">
                <h3>Universidad de Málaga</h3>
            </footer>
        </div>
        <br />
       
     
     
     
    </h:body>
</html>

